body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    width: 400px;
}

h1 {
    text-align: center;
}

.biodata {
    display: flex;
    align-items: center;
}

.profile-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.info {
    text-align: left;
}

strong {
    color: #333;
}

.hover-blur {
    transition: filter 0.3s ease-in-out;
}

.hover-blur:hover {
    filter: blur(5px);
}
